.textfield {
  width: 100%;
  margin-top: -2px;
}
.button-div {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.subtitle {
  font-size: 1.2rem;
  align-items: center;
  margin-top: 5px;
}
.item {
  align-items: center;
}
.button-close {
  margin-right: 20px;
}
