/* Styles for the Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1000;
  margin: 1%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 20px;
}

.nav-link {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--text-secondary);
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.ml-auto {
  margin-left: auto;
}
