.App {
  text-align: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.navbar {
  background-color: var(--bg-navbar);
  color: var(--text-primary);
}

.mainContainer {
  background-color: var(--bg-secondary);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #175ff3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.blur-contrainer {
  background-color: transparent;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 40px auto; /* Center horizontally */
  padding: 40px;
  width: 60%;

  display: flex; /* Allows justify-content and align-items to work */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute; /* Allows vertical centering */
  top: 50%; /* Start at 50% of the height */
  left: 50%; /* Start at 50% of the width */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by half of the element's own size */
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.space-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.space-between-container .label {
  display: inline-block; /* Ensures the label behaves like an inline element */
  margin: 0; /* Resets any default margin */
}

.space-between-container .link {
  display: inline-block; /* Ensures the link behaves like an inline element */
  margin: 0; /* Resets any default margin */
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

:root {
  --primary-blue: rgb(0, 0, 255);
  --secondary-blue: rgb(96, 96, 182);

  --text-primary-light: black;
  --text-primary-dark: white;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: white;
  --bg-primary-dark: black;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-navbar-light: #84bcfb;
  --bg-navbar-dark: rgb(29, 29, 58);

  --primary-error-color: #cc8585;
  --primary-error-text: #f5d5df;

  --primary-success-color: #dbfbe6;
  --primary-success-text: #32a650;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
}
.error {
  color: var(--primary-error-text);
  background-color: var(--primary-error-color);
}

.success {
  color: var(--primary-success-text);
  background-color: var(--primary-success-color);
}

/* Title class for bold text */
.title {
  font-weight: bold;
  font-size: 2em;
  color: var(--text-primary);
}

/* Subtitle class for semi-bold text */
.subtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--text-secondary);
}

/* Sub-subtitle class for normal text */
.subsubtitle {
  font-weight: 400;
  font-size: 1.2em;
  color: var(--text-secondary);
}

.link {
  font-weight: 200;
  color: primary;
  font-size: 0.8em;
  text-decoration: none;
  transition: font-weight 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
  font-weight: bold;
}
.loading-containzer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-container img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
}
.body-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--bg-navbar);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;

  width: 98%;
  z-index: 1000;
  margin: 1%;
  height: 70%;
}
.body-space {
  background-color: transparent;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
  margin: 0px;
  width: 98%;
  margin-top: 100px;
  height: 85vh; /* Full viewport height */
  overflow-y: scroll;
  padding: 20px;
  align-items: baseline;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-navbar) transparent;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url("./assets/images/bck-blue-abstract.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
  overflow: hidden; /* Prevent scrolling */
}
.hr {
  width: 98%;
  margin: 2px auto; /* This centers the element horizontally */
  display: flex;
  justify-content: center;
}

.small-link {
  margin-left: 10px;
  color: palevioletred;
  text-decoration: underline;
  font-size: 0.8em;
}
.textfield {
  width: 48%;
}
.textfield2 {
  width: 100%;
}
.action-icons {
  border-radius: 5px;
  padding: 1px;
  margin: 5px;
}
.delete {
  background-color: #f5d5df;
  color: #cc8585;
}
.update {
  background-color: #f0e9cf;
  color: #d2b871;
}
.title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start;
  margin: 0%;
  margin-left: 20px;
}
.dialog {
  background-color: #f0f0f0;
}
